<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Muller Brown Potential</title>
    {{ js_resources|safe }} {{ css_resources|safe }}
</head>

<body>
    <h1>Muller Brown Potential</h1>

    <div>
        {{ plot_div|safe}} {{plot_script|safe}}
     </div>


    <form>
        <div>
        step: <input name="step" type="text" value="{{ step }}"></input>
        </div>

        <div>
        x: <input name="x" type="text" value="{{x}}"></input>
        </div>

        <div>
        y: <input name="y" type="text" value="{{y}}"></input>
        </div>

        <div>
        color tone: <input name="tone" type="text" value="{{ tone }}"></input>
        </div>

        <div>
        check: <input name="check" type="checkbox" ></input>
        </div>

        <input type="submit" value="submit"></input>
    </form>


</body>

</html>
